h1 {
height:111px;
width:835px;
margin:auto;
padding:2%;
}

body {
	background: url(../images/mermaid.jpg);
	font-size: 24px;
}

ul#menu {
    padding: 16px 0 40px 30px;
	text-align: center;
 
}

ul#menu li {
    display: inline;
    margin-right: 5px;
	}



p1 {
    display: inline;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 5px 20px;
	width: 200px;
	font-size: 100%;
    color: #696969;
    border-radius: 5px 5px 0 0;
}

ul#menu li a:hover {
    color: gray;
    background-color: #000000;
}


a:link {
color:#0000ff;
}

a:visited {
color:#000000;
}

a:hover {
	color: #1E1E2F;
}

#statement {
background-color:#707070;
color:#0000ff;
text-align:left;
padding:5px;
padding-left:20px;
height:auto;
width:750px;
font-size:25px;
margin-left:auto;
margin-right:auto;
border:thick solid black;
}

#indexImg {
height:200px;
width:400px; 
padding-left:39%;
margin-bottom:.5%;
}

#footer {
text-align:left;
}

#nestedList {
background-image:url("../image/hackerPic1.jpg");
background-repeat:no-repeat;
background-size:cover;
height:387px;
color:white;
font-weight:bold;
margin-top:.6%;
margin-left:20%;
margin-right:20%;
margin-bottom:0%; 
padding:.3%;
padding-left:5%;
padding-bottom:1px;
border:thick solid black;
}

#statementWBlockquote {
background-color:#707070;
color:#0000cc;
margin-top:.6%;
margin-left:20%;
margin-right:20%;
margin-bottom:0%; 
padding-left:10%;
border:thick solid black;
}

#missionImg {
padding-left:34%;
height:204px;
}

#contactImg {
height:316px;
width:600px;
margin:auto;
}

#contactInfoImg {
height:73px;
width:598px;
margin:auto;
}

#ISLink {
background-color:#707070;
color:#0000cc;
text-align:center;
font-size:40px;
margin-left:300px;
margin-right:300px;
border:thick solid black;
}

#faqImg {
height:331px;
width:350px;
margin:auto;
}

.myValidation {
	text-align: left;
	padding-bottom: 0px;
	font-weight: 400;
}

#application {
background-color:#707070;
color:#0000cc;
text-align:left;
font-size:20px;
padding:1%;
margin-left:500px;
margin-right:500px;
border:thick solid black;
}
#container {
	margin: auto;
	height: 800px;
	width: 770px;
	background-color: #FFFFFF;
}
